body{
  background-color: #242123;
  align-items: center;
  justify-content: center;
}

.btn.btn-primary,
.btn.btn-secondary {
  background: none !important;
  color: pink !important;
  border: none;
  box-shadow: none;
  margin-top: 5%;
  font-size: 1.25rem;
}

.subtitle {
  position: relative;
  text-align: center;
  font-family: Garamond;
  color: pink;
}

.description {
  position: relative;
  text-align: center;
  font-family: Garamond;
  
  color: pink;
}

.gift-text.mt-3{
  position: relative;
  text-align: center;
  font-family: Garamond;
  color: pink;
}

.bravafabrics {
  background: none !important;
  color: pink !important;
  border: none;
  box-shadow: none;
  margin-top: 5%;
}