.body{
    background-color: #242123;
    
}

.title{ 
    position: relative;
    text-align: center;
    font-family: 'argesta_displayregular';
    font-size: calc(90px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    color: pink;
}

.end-title{
    position: relative;
    bottom: 50%;
    text-align: center;
    font-size: italic;
    font-family: 'argesta_displayregular';
    font-size: 300%;
    color: pink;
}

.titolo-piccolo{
    position: relative;
    top: 50px;
    bottom: 0%;
    text-align: middle;
    color: pink;
    width: 100%;
    font-family: 'argesta_displayregular';
    font-size: 40px;
}
