.body{
    background-color: #242123;
}

.title{ 
    position: relative;
    text-align: center;
    font-family: 'argesta_displayregular';
    font-size: 90px;
    color: pink;
}

.end-title{
    position: relative;
    bottom: 50%;
    text-align: center;
    font-size: italic;
    font-family: fantasy;
    font-size: 300%;
    color: pink;
}

.titolo-piccolo{
    position: relative;
    top: 100px;
    bottom: 100%;
    text-align: middle;
    color: pink;
    width: auto;
    height: auto;
    font-family: 'argesta_displayregular';
    font-size: 30px;
}

.prima-frase{
    position: relative;
    top: 50px;
    text-align: middle;
    color: pink;
    margin-top: 35%;
    width: auto;
    height: auto;
    font-family: 'argesta_displayregular';
    font-size: 30px;
}

.seconda-frase{
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: pink;
    width: auto;
    height: auto;
    font-family: 'argesta_displayregular';
    font-size: 25px;
}

.terza-frase{
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: pink;
    width: auto;
    height: auto;
    font-family: 'argesta_displayregular';
    font-size: 25px;
}

.quarta-frase{
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: pink;
    width: auto;
    height: auto;
    font-family: 'argesta_displayregular';
    font-size: 25px;
}

.quinta-frase{
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: pink;
    width: auto;
    height: auto;
    font-family: 'argesta_displayregular';
    font-size: 25px;
}

.sesta-frase{
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: pink;
    width: auto;
    height: auto;
    font-family: 'argesta_displayregular';
    font-size: 25px;
}

.settima-frase{
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: pink;
    width: auto;
    height: auto;
    font-family: 'argesta_displayregular';
    font-size: 25px;
}

.ottava-frase{
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: pink;
    width: auto;
    height: auto;
    font-family: 'argesta_displayregular';
    font-size: 25px;
}