.body{
    background-color: #242123;
    
}

.title{ 
    position: relative;
    text-align: center;
    font-family: 'argesta_displayregular';
    font-size: 90px;
    color: pink;
}

.end-title{
    position: relative;
    bottom: 50%;
    text-align: center;
    font-size: italic;
    font-family: 'argesta_displayregular';
    font-size: 300%;
    color: pink;
}

.titolo-piccolo{
    position: relative;
    top: 100px;
    bottom: 100%;
    text-align: middle;
    color: pink;
    width: 100%;
    font-family: 'argesta_displayregular';
    font-size: calc(28px + (37 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.animated-text{
    position: relative;
    left: 50%;
    top: 2.5%;
    transform: translate(-50%, -50%);

    padding: 0 40px;
    height: 100px;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.line{
    color: pink;
    line-height: 100px;
    text-align: center;
    font-size: calc(28px + (37 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.line:first-child{
    animation: anim 20s infinite;
}

@keyframes anim{
    0%{
        margin-top: 0;
    }
    10%{
        margin-top: -100px;
    }
    15%{
        margin-top: -200px;
    }
    25%{
        margin-top: -300px;
    }
    30%{
        margin-top: -400px;
    }
    40%{
        margin-top: -500px;
    }
    50%{
        margin-top: -600px;
    }
    60%{
        margin-top: -500px;
    }
    65%{
        margin-top: -400px;
    }
    72%{
        margin-top: -300px;
    }
    82%{
        margin-top: -200px;
    }
    90%{
        margin-top: -100px;
    }
    100%{
        margin-top: 0;
    }
}